<h2>Search results</h2>
<div class="container">
  {{#each searchResults}}
  <div class="card">
    <div class="card-cover">
    </div>
    <div class="card-info">
      {{this.title}}
      {{this.price}}
    </div>
  </div>
  {{/each}}
</div>
