<h1>this is HOME</h1>
<br>
<h2>PROFILE</h2>
<br>
<h2>SEARCH</h2>
<form action='/game-search' method='GET'>
  <label for='Search game title'>Game</label>
  <input type='text' name='game'>
  
  <label for="Consoles">Choose a console:</label>
  <select>
    <option value="ps4">PS4</option>
    <option value="xbox">Xbox One</option>
    <option value="switch">Nintendo Switch</option>
    <option value="pc">PC</option>
  </select>
  <br>
  <button type='submit' >Search for Game</button>
</form>

<br>
<br>
<a href="/logout">
<button>Log out</button></a>