<h1>this is HOME</h1>
<br>
<h2>PROFILE</h2>
<br>
<h2>SEARCH</h2>
<form action='/homepage/game-search' method='post'>
  <label for='Search game title'>Game</label>
  <input type='text' name='title'>
  <br>
  <button type='submit' >Search for Game</button>
</form>

<br>
<br>
<a href="/logout">
<button>Log out</button></a>