<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>BLOCKBUSTER REMIX</title>
</head>
<body>
<div id="mobile-box">
  <nav id='nav-bar'>
    <a href="/homepage">Homepage</a>
    <a href="/profile">Profile</a>
    <a href="/notifications">Notifications</a>
  </nav>
  {{{body}}}
</div>
</body>
</html>