<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
  <title>BLOCKBUSTER REMIX</title>
</head>
<body>
<div id="mobile-box">
  <nav id='nav-bar'>
    <a href="/homepage"><img class="navbar-img" src="/images/home.png" alt="home-icon"></a>
    <a href="/profile"><img class="navbar-img" src="/images/profile_treasure.png" alt="prof-icon"></a>
    <a href="/notifications"><img class="navbar-img" src="/images/notif.png" alt="notif-icon"></a>
  </nav>
  {{{body}}}
</div>
</body>
</html>