<h1>Welcome to BlockBuster REMIX</h1>
<br>
<br>
<form action='/login' method='post'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Password</label>
  <input type='text' name='password'>

  <button type='submit'>Log in</button>
</form>
<br>
<p>Not a member?</p>
<br>
<a href="/signup">
<button>Sign up</button></a>

{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}
