<h1>Welcome to BlockBuster REMIX</h1>

<form action='/login' method='post'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Password</label>
  <input type='text' name='password'>

  <button class='is-primary' type='submit'>Log in</button>
</form>

<p>Not a member?</p>
<br>
<a href="/signup">
<button class='is-primary'>Sign up</button></a>

{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}
