<h2>Profile</h2>
<h3>My profile</h3>
{{user.fullName}}
{{user.email}}
<br>
<a href="/signup">
<button>Edit profile</button></a>
<br>
<br>
<h3>Add a game</h3>
<form action='/profile/new-game' method='post'>

  <label for=''>Game</label>
  <input type='text' name='title'>

  <label for=''>Platform</label>
  <input type='text' name='platform'>

  <label for=''>Price</label>
  <input type='number' name='price' value='10'>

  <label for=''>Minimum days</label>
  <input type='number' name='minDays' value='4'>

  <label for=''>Maximum days</label>
  <input type='number' name='maxDays' value='10'>

  <button type='submit'>Add a game</button>
</form>
<br>
{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}
<br>
<h3>My games</h3>
<br>
<br>
<br>
<a href="/homepage">
<button>Home</button></a>



