// VARIABLES
* {
  box-sizing: border-box;
}

// short info containers template
@mixin simple-cont( $width, $color ) {
  box-shadow: 
    $width 0 $color, 
    -$width 0 $color,
    0 (-$width) $color, 
    0 $width $color;
  margin: $width auto;
}

// rounded info containers template
@mixin rounded-cont( $width, $color, $bgcolor ) {
  box-shadow:
    4*$width 0 $bgcolor, 
    -4*$width 0 $bgcolor, 
    0 (-4*$width) $bgcolor, 
    0 4*$width $bgcolor,
    $width 0 0 2*$width $bgcolor,
    -$width 0 0 2*$width $bgcolor,
    0 (-$width) 0 2*$width $bgcolor,
    0 $width 0 2*$width $bgcolor,
    5*$width 0 $color, 
    -5*$width 0 $color,
    0 (-5*$width) $color, 
    0 5*$width $color,
    0 0 0 3*$width $color,
    0 2*$width 0 2*$width $color,
    0 (-2*$width) 0 2*$width $color,
    2*$width 0 0 2*$width $color,
    (-2*$width) 0 0 2*$width $color;
    margin: 5*$width auto;
}

//buttons
$outline-width: 4px;
$shadow-width: 4px;

$button-background: #4062BB;
$sec-button-background: rgb(57, 87, 164);
$shadow-color:  rgb(50, 77, 143);

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$del-button-background: rgb(247, 29, 29);
$del-sec-button-background: rgb(214, 25, 25);
$del-shadow-color:  rgb(170, 26, 26);
/////////////////
//CSS

//GLOBAL
#mobile-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: black;
  background-color: #FDFFFC;
}

.page-cont {
  height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;

  &--big-forms {
    // min-width: 120%;
    min-height: 135vh;
  }
}

#nav-bar{
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
  font-size: 12px;
  background-color: #011627;
  background-size: cover;
  padding: 7px;
}

#nav-bar a {
  text-decoration: none;
  color: #FDFFFC;
}

.error{
  @include simple-cont(2px, red);
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input {
  @include simple-cont(2px, grey);
  font-family: 'Press Start 2P', cursive;
  width: 80%;
  font-size: 10px;
  padding: 2px;
  margin: 5px 5px;
}

/* HOME */

.home-header {
  background-image: url("/public/images/controller.gif");

  img {
    align-self: center;
    // padding-bottom: 10px;
    margin: 20px;
    width: 95px;
    height: auto;
  }
}

.home-search {
  @include rounded-cont( 6px, teal,  white );
      //alt color: rgb(42, 76, 186)
  width: 85%;
  text-align: center;
  // background-color:  teal;
  color: black;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 12px;
    color: black;
  }

  // input {
  //   margin: 10px 0;
  // }
}

.home-logout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

//LOGIN

.login-cont {
  @include rounded-cont(4px, black, white);

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5px 0;
    }
  
    // input {
    //   @include simple-cont(2px, black );
    //   margin: 5px 5px;
    //   width: 50%;
    // }
}

.login-pg-signup {
  // @include rounded-cont(4px, black, white);
  display: flex;
  flex-direction: column;
  align-items: center;

}

//SIGNUP
.signup-form-1{
  @include rounded-cont(4px, black, white );
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 30px;
  margin-left: 30px;
  width: 85%;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    input {
      width: 125%;
    }

    label {
      text-align: center;
    }
  }
}
.signup-form-2{
  @include rounded-cont(4px, black, white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  margin-left: 30px;
  width: 85%;


  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

    input {
      width: 90%;
    }

    label {
      text-align: center;
    }
}

//SEARCH RESULTS
.results-cont {
  display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
  align-content: space-around;
  
  a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.card {
  @include rounded-cont(4px, black, slategray);
  display: flex;
  background-color: slategray;
  width: 30vw;
  height: 30vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 25px 10px;
  outline: none!important;
  

  .card-cover{
    @include simple-cont(3px, black);
    display: flex;
    height: 90px;
    width: 90px;
      img {
        object-fit: cover;
        width: 100%;
      }
  }
  .card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    // padding: 2px 0;
    color: white; 
    text-decoration: none;

    .game-title {
      font-style: italic;
      font-weight: bold;
      font-size: smaller;
      line-height: 12.5px;
    }

    .game-platform {
      font-style: italic;
      font-size: x-small;
    }

    .game-price {
      font-size: x-small;
    }
  }
}

.search-res-btn{
  display: flex;
  align-items: center;
  justify-content: baseline;
}
//RENT-FORM

.all-rent-info {
  @include rounded-cont(4px, black, white );
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  height: 90vh;
  width: 85%;
  margin: 10px 30px;
  
  .img-box{ 
    @include simple-cont(3px, black);
    display: flex;
    height: 120px;
    width: 90px;
      img {
        object-fit: cover;
        width: 100%;
      }
  }

  .desc-info{ //hidden
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #FFFFFF;
  }
  .rent-days-input {
    @include simple-cont(1px,gray );
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
  }
  .rent-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

// game-add-search
.game-add-search-pg {
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.game-search-bar {
  @include simple-cont(4px, black); 
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}
.game-title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  flex-grow: 20;
}
.game-title-btn-cont {
  max-width: 50px;
}
.game-add-search-pg, h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

  // game-add-form
.game-add-form-pg {
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.game-add-form {
  @include rounded-cont(4px, black, white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  form {
    width: 100%;
  }

  input {
    width: 95%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
  }

  button {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.game-add-form-pg, h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

// notifications
.notifications-pg {
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.notifications-pg, h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.notifications-box {
  @include rounded-cont(4px, black, white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-bottom: 40px;

  b {
    font-style: italic;
    color: cornsilk;
  }

  button {
    font-size:10px;
    margin-bottom: 15px;
    max-height: 60px;
    width: 100%;
    padding: 0px;
    line-height: 15px;
  }
}

//SUCCESS
.success-pg {
  height: 90vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.success-pg, h2 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.success-info-box {
  @include rounded-cont(4px, black, white); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.contact-info {
  @include rounded-cont(4px, black, white); 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 85%;
}

.success-pg, button {
  margin-top: 25px;
}

//BUTTONS
.is-primary {
  background: $button-background;
  display: inline-block;
  position: relative;
  border: 0.1em transparent;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  //click act
  &:focus {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
    outline: none!important; //to not show the glowy outl when click
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}

.is-secondary {
  background: $del-button-background;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $del-shadow-color;

  //click act
  &:focus {
    background: $del-button-background;
    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $del-shadow-color;
    outline: none!important;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $del-shadow-color;
  }

  &:before,
  &:after {
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}

.is-alt {
  background: $alt-button-background;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $alt-shadow-color;

  //click act
  &:focus {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $alt-shadow-color;
    outline: none!important;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $alt-shadow-color;
  }

  &:before,
  &:after {
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 12px;
  }

  body {
    width: 95%;
  }
}