// VARIABLES
* {
  box-sizing: border-box;
}

// short info containers template
@mixin simple-cont( $width, $color ) {
  box-shadow: 
    $width 0 $color, 
    -$width 0 $color,
    0 (-$width) $color, 
    0 $width $color;
  margin: $width auto;
}

// rounded info containers template
@mixin rounded-cont( $width, $color, $bgcolor ) {
  box-shadow:
    4*$width 0 $bgcolor, 
    -4*$width 0 $bgcolor, 
    0 (-4*$width) $bgcolor, 
    0 4*$width $bgcolor,
    $width 0 0 2*$width $bgcolor,
    -$width 0 0 2*$width $bgcolor,
    0 (-$width) 0 2*$width $bgcolor,
    0 $width 0 2*$width $bgcolor,
    5*$width 0 $color, 
    -5*$width 0 $color,
    0 (-5*$width) $color, 
    0 5*$width $color,
    0 0 0 3*$width $color,
    0 2*$width 0 2*$width $color,
    0 (-2*$width) 0 2*$width $color,
    2*$width 0 0 2*$width $color,
    (-2*$width) 0 0 2*$width $color;
    margin: 5*$width auto;
}

//buttons
$outline-width: 4px;
$shadow-width: 4px;

$button-background: #4062BB;
$sec-button-background: rgb(57, 87, 164);
$shadow-color:  rgb(50, 77, 143);

$del-button-background: #F7D51D;
$del-sec-button-background: #F2C409;
$del-shadow-color:  #E59400;
/////////////////
//CSS

//GLOBAL
#mobile-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: black;
  background-color: #FDFFFC;
}

#nav-bar{
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
  font-size: 12px;
  background-color: #011627;
  background-size: cover;
  padding: 7px;
}

#nav-bar a {
  text-decoration: none;
  color: #FDFFFC;
}

.error{
  @include simple-cont(2px, red);
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

input {
  @include simple-cont(2px, grey);
  font-family: 'Press Start 2P', cursive;
  width: 50%;
  font-size: small;
  margin: 5px 5px;
}

/* HOME */
.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.home-header {
  background-image: url("/public/images/controller.gif");

  img {
    align-self: center;
    // padding-bottom: 10px;
    margin: 20px;
    width: 95px;
    height: auto;
  }
}

.home-search {
  @include rounded-cont( 6px, teal,  white );
      //alt color: rgb(42, 76, 186)
  width: 85%;
  text-align: center;
  // background-color:  teal;
  color: black;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 12px;
    color: black;
  }

  // input {
  //   margin: 10px 0;
  // }
}

.home-logout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

//LOGIN
.login-pg {
  height: 90vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.login-cont {
  @include rounded-cont(4px, black, white);

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5px 0;
    }
  
    // input {
    //   @include simple-cont(2px, black );
    //   margin: 5px 5px;
    //   width: 50%;
    // }
}

.login-pg-signup {
  // @include rounded-cont(4px, black, white);
  display: flex;
  flex-direction: column;
  align-items: center;

}

//signup
.signup
.signup-form-1{
  @include rounded-cont(6px, black, white );
  // input {
  //   margin: 5px 5px;
  //   border: lightslategrey solid;
  //   width: 50%;
  // }
}
.signup-form-2{
  @include rounded-cont(6px, black, white);
  // input {
  //   margin: 5px 5px;
  //   border: lightslategrey solid;
  //   width: 50%;
  // }
}

//buttons
.is-primary {
  background: $button-background;
  display: inline-block;
  position: relative;
  border: 0.1em transparent;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  //click act
  &:focus {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
    outline: none!important; //to not show the glowy outl when click
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}

.is-secondary {
  background: $del-button-background;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $del-shadow-color;

  //click act
  &:focus {
    background: $del-button-background;
    box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $del-shadow-color;
    outline: none!important;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $del-shadow-color;
  }

  &:before,
  &:after {
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }
}